.contact-section {
  width: 50%;
  margin: 0 auto;
  padding: 4rem 0;
}

.contact-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form {
  width: -webkit-fill-available;
}
