.footer-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.footer-bottom {
  background-color: #080808;
  text-align: center;
  padding: 0.5rem 10rem;
}

.footer-bottom > span {
  color: #eee;
  font-family: "Poppins", sans-serif !important;
  font-size: 12px;
}

.social-icons > a {
  margin: 0px;
  font-size: 2rem;
}
.icon-with-text > span {
  font-family: "Poppins", "Times New Roman";
  font-size: 12px;
  margin-left: 10px;
}
.icon-with-text > span:hover {
  color: #fab702;
  cursor: hand;
}
.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links > a {
  color: #eee;
  font-family: "Poppins", "Times New Roman";
  font-size: 12px !important;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.errorMessage {
  color: var(--accent-color);
  font-size: 12px;
}

.footer-links > a:hover {
  color: #fab702;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

footer h3 {
  font-size: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: #c13584;
}

.fa-youtube {
  color: #ff0000;
}
